html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scroll */
    background: #FFFFFF;
  }
  
  * {
    box-sizing: border-box;
  }

  .swiper-button-next {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
  }
  
  .swiper-button-prev {
    position: absolute;
    right: 50%;
    top: 10%;
    transform: translateX(50%);
  }  