html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scroll */
    background: #FFFFFF;
  }
  
  body {
    overflow-y: scroll; /* Ensure vertical scroll is always visible */
  }
  
  * {
    box-sizing: border-box;
  }