@tailwind base;
@tailwind components;
@tailwind utilities;

/* button.slick-arrow.slick-next {
    background: linear-gradient(225deg, #00A1F1 0%, #004589 100%) !important;
}

.slick-dots li.slick-active button {
    background: linear-gradient(225deg, #00A1F1 0%, #004589 100%) !important;
    position: relative; 
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    background: #ccc !important;
} */