@tailwind base;
@tailwind components;
@tailwind utilities;


.feedback-slide {
    transition: opacity 0.3s ease, transform 0.3s ease !important;
    opacity: 0.5 !important; 
}

.swiper-slide-active {
    opacity: 1 !important; 
    transform: scale(1.05) !important; 
    padding-top: 2rem !important;
}
